@import '../../assets/styles/_utilities';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $dark;
  a {
      color: $primary;
      text-decoration: none;
  }
  > p {
      @include font(14px);
  }
}